/* :root[data-theme ='light']{
    --bg-color:#fff;
    --text-color: #000;
}
:root[data-theme="dark"] {
  --bg-color: #333;
  --text-color: #fff;
}
:root[data-theme="reading"] {
  --bg-color: #1e90ff;
  --text-color: #fff;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
} */
/* [draggable="true"] {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

ul.moveable {
  list-style: none;
  margin: 0px;

  li {
    list-style-image: none;
    margin: 10px;
    border: 1px solid #ccc;
    padding: 4px;
    border-radius: 4px;
    color: #000000;
    cursor: move;

    &:hover {
      background-color: #eee;
    }
  }
} */