<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <h1>Update Todo</h1>
        <label>Task : </label>
        <input type="text" name="task" value="todo.task">
        <label>Description : </label>
        <input type="text" name="description" value="todo.description">
        <label>Due Date : </label>
        <input type="date" name="due" value="todo.date">
        <input type="checkbox" name="status" value="todo.status"><label>completed</label>
        <button>Submit</button>
    </form>
    <a href="{% url 'home' %}"><button>Back to Home</button></a>
    
    
</body>
</html>